<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div style="margin-bottom: 50px">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" style="color: black;" routerLink="/hub">Hub</a>
    <a class="nav-link" style="color: black" routerLink="/hub">Temp</a>
  </nav>
</div>
<!--
<div role="main">
  <app-notes> </app-notes>
</div>
-->

<router-outlet></router-outlet>

