nav a {
  padding: 0.5rem;
  width: 120px;
  height: 120px;
  margin: 5px;
  display: inline-grid;
  background-color: wheat;
  color: black;
  text-decoration: none;
  text-align: right;
  align-items: self-end;
  border-radius: 12px;
  font-family: 'Inconsolata', monospace;
  border: 1px solid saddlebrown;
}
nav a:hover {
  color: #002c00;
  background-color: antiquewhite;
}
nav a:active {
  background-color: papayawhip;
}
p{
  float: bottom;
}
ul{
  column-count: 7;
  column-gap: 5px;
  list-style: none;
}
